DOCTYPEhtml

html
    head
     link(href='SCSS/index.css' type="text/css" rel="stylesheet")
     link(href="https://fonts.googleapis.com/css?family=Acme|Orbitron|Arvo&display=swap" rel="stylesheet")
     meta(charset='utf-8')

     


     title Mon super chat !

    body
     div#clock 00:00
     div#count utilisateurs connectés.
     div#wrapper
      
      h1 Atsukim Chat 
      
     


      div#chatFrame
      div#formFrame
       label Écrivez votre message :
       br
       hr
       p#log 
       textarea(name="userMessage" rows="5" cols="33" id="messageArea")
       button#sendBtn(type='button') Send.

<script src="/socket.io/socket.io.js"></script>

script(src='JS/socketController.js')
script(src='JS/clock.js')        
      